tmp/
addon/
tmp/*
addon/*
*.pptx
*.pdf
setup.md
compose/influxdb/data/**
!compose/influxdb/data/.gitkeep
compose/jtso/active_profiles/*
!compose/jtso/active_profiles/.gitkeep
compose/kapacitor/data/**
!compose/kapacitor/data/.gitkeep
compose/telegraf/metadata/*
!compose/telegraf/metadata/.gitkeep
compose/telegraf/cert/*
!compose/telegraf/cert/.gitkeep
compose/grafana/cert/*
!compose/grafana/cert/.gitkeep
