tmp/
addon/
tmp/*
addon/*
doc/*
compose/influxdb/data/**
!compose/influxdb/data/.gitkeep
compose/jtso/db/*
!compose/jtso/db/.gitkeep
compose/jtso/active_profiles/*
!compose/jtso/active_profiles/.gitkeep
compose/kapacitor/data/**
!compose/kapacitor/data/.gitkeep
compose/telegraf/metadata/*
!compose/telegraf/metadata/.gitkeep
compose/telegraf/cert/*
!compose/telegraf/cert/.gitkeep
compose/telegraf/mx/telegraf.d/*
!compose/telegraf/mx/telegraf.d/.gitkeep
!compose/telegraf/mx/telegraf.conf
compose/telegraf/ptx/telegraf.d/*
!compose/telegraf/ptx/telegraf.d/.gitkeep
!compose/telegraf/ptx/telegraf.conf
compose/telegraf/acx/telegraf.d/*
!compose/telegraf/acx/telegraf.d/.gitkeep
!compose/telegraf/acx/telegraf.conf
compose/telegraf/ex/telegraf.d/*
!compose/telegraf/ex/telegraf.d/.gitkeep
!compose/telegraf/ex/telegraf.conf
compose/telegraf/qfx/telegraf.d/*
!compose/telegraf/qfx/telegraf.d/.gitkeep
!compose/telegraf/qfx/telegraf.conf
compose/telegraf/srx/telegraf.d/*
!compose/telegraf/srx/telegraf.d/.gitkeep
!compose/telegraf/srx/telegraf.conf
compose/telegraf/crpd/telegraf.d/*
!compose/telegraf/crpd/telegraf.d/.gitkeep
!compose/telegraf/crpd/telegraf.conf
compose/telegraf/cptx/telegraf.d/*
!compose/telegraf/cptx/telegraf.d/.gitkeep
!compose/telegraf/cptx/telegraf.conf
compose/telegraf/vmx/telegraf.d/*
!compose/telegraf/vmx/telegraf.d/.gitkeep
!compose/telegraf/vmx/telegraf.conf
compose/telegraf/vsrx/telegraf.d/*
!compose/telegraf/vsrx/telegraf.d/.gitkeep
!compose/telegraf/vsrx/telegraf.conf
compose/telegraf/vjunos/telegraf.d/*
!compose/telegraf/vjunos/telegraf.d/.gitkeep
!compose/telegraf/vjunos/telegraf.conf
compose/telegraf/vevo/telegraf.d/*
!compose/telegraf/vevo/telegraf.d/.gitkeep
!compose/telegraf/vevo/telegraf.conf
compose/grafana/cert/*
!compose/grafana/cert/.gitkeep
working_dir/**
.DS_Store*